/* LOBBY */

.game-tile {
  border: 2px solid #ccc;
  cursor: pointer;
  height: 100%;
}

.game-tile.selected {
  border-color: #f00;
}

.game-tile:hover {
  background-color: #444;
}

.lobby-title {
  margin-bottom: 25px;
  text-align: center
}

.room-code, .featured-word, .spectrum-clue {
  font-family: Courier New;
}

.share-link {
  margin-top: 50px;
}

/* GAME */

.main-panel {
  border: 5px dashed #fff;
}

.player-label {
  display: inline-block;
  border-radius: 5px;
  min-width: 80px;
  padding: 5px;
  margin: 5px 0;
}

.checkbox-label {
  position: relative;
}

.checkbox-label .checkbox-label-check {
  position: absolute;
  left: -30px;
}

.featured-word {
  font-size: 96px;
}

.lowercase {
  text-transform: lowercase;
}

.correct {
  color: #0f0;
}

.incorrect {
  color: #f00;
}

.clue-label .tooltip-inner,
.suspect-label .tooltip-inner {
  background-color: #e0e0e0;
  color: #000;
}

.clue-label .arrow::before {
  border-right-color: #e0e0e0;
}

.suspect-label .arrow::before {
  border-top-color: #e0e0e0;
}

.team-label .tooltip-inner {
  background-color: #e0e0e0;
  color: #000;
}

.team-label .arrow::before {
  border-left-color: #222;
}

.player-label.indigo {
  background-color: #6610f2;
}
.player-label.purple {
  background-color: #6f42c1;
}
.player-label.pink {
  background-color: #e83e8c;
}
.player-label.red {
  background-color: #E74C3C;
}
.player-label.orange {
  background-color: #fd7e14;
}
.player-label.yellow {
  background-color: #F39C12;
}
.player-label.green {
  background-color: #00bc8c;
}
.player-label.teal {
  background-color: #20c997;
}
.player-label.cyan {
  background-color: #3498DB;
}
.player-label.warning {
  background-color: #F39C12;
}
.player-label.danger {
  background-color: #E74C3C;
}
.player-label.dark {
  background-color: #303030;
}

.main-panel:first-child {
  border-bottom-width: 0;
}

.board {
  font-size: 14px;
}

.lobby-container {
  margin-top: 50px;
}

/* AWP */

.duplicate .tooltip-inner span {
  padding-left: 5px;
}

.help-text {
  font-size: 16px;
}

.modal {
  z-index: 1080;
}

.modal.duplicates-modal {
  z-index: 1050;
}

@media (min-width: 576px) {
  .board {
    font-size: 16px;
  }

  .main-panel:first-child {
    border-right-width: 0;
    border-bottom-width: 5px;
  }

  .featured-word {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 1.5rem;
  }
}

/* WEREWOLF */

.gallery {
  display: flex;
  flex-flow: row wrap;
}

.role-card {
  border-width: 4px;
  border-style: solid;
  margin: 0 auto;
  min-width: 140px;
  max-width: 184px;
  min-height: 277px;
}

.role-card .card-img-top {
  min-height: 150px;
}

.role-card.choose-mode:hover {
  border-color: #fff;
  cursor: pointer;
}

.role-card.werewolf.selected,
.role-card.werewolf.selected:hover {
  border-color: #e74c3c;
}

.role-card.villager.selected,
.role-card.villager.selected:hover {
  border-color: #00bc8c;
}

.role-card.tanner.selected,
.role-card.tanner.selected:hover {
  border-color: #f39c12;
}

.role-card.selected .card-img-top,
.role-card.choose-mode:hover .card-img-top
{
  border-radius: 0;
}

.role-label {
  color: #fff;
  display: inline-block;
  border-radius: 5px;
  min-width: 80px;
  padding: 5px;
  margin: 5px 0;
}

.role-label.werewolf,
.team-label.werewolf .tooltip-inner {
  background-color: #e74c3c;
}

.role-label.villager,
.team-label.villager .tooltip-inner {
  background-color: #00bc8c;
}

.role-label.tanner,
.team-label.tanner .tooltip-inner {
  background-color: #f39c12;
}

.fixed-header {
  background-color: #222;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.fixed-header.show {
  display: block;
}

@media (min-width: 768px) {
  .roles-modal .modal-dialog {
    max-width: 800px;
  }
}

/* Wavelength */
.band-group, .bands-placeholder {
  height: 150px;
}

.band-group {
  align-items: flex-end;
  display: flex;
}

.spectrum-band {
  width: 5.55556%
}

.band2 {
  background-color: #F39C12;
  height: 33%;
}

.band3 {
  background-color: #00bc8c;
  height: 66%;
}

.band4 {
  background-color: #E74C3C;
  height: 100%;
}
