.card {
  background-color: #fff;
  border: 5px solid #f00;
  color: #000;
  display: inline-block;
  width: 200px;
  height: 325px;
}

.card.clickable {
  cursor: pointer;
}

.card.discard {
  background-color: #aaa;
  width: 50px;
}

.message-log {
  border: 1px solid #000;
  height: 200px;
  overflow-y: scroll;
  width: 200px;
}

.reveal-modal-body {
  text-align: center;
}

.baron-reveal-card {
  display: inline-block;
}
